apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: music-assistant
spec:
  rules:
    - host: music-assistant.nkzo.ovh
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: music-assistant
                port:
                  name: webserver
    - http:
        paths:
          - path: /flow
            pathType: Prefix
            backend:
              service:
                name: music-assistant
                port:
                  name: streamserver
          - path: /callback
            pathType: Prefix
            backend:
              service:
                name: music-assistant
                port:
                  name: streamserver
          - path: /single
            pathType: Prefix
            backend:
              service:
                name: music-assistant
                port:
                  name: streamserver       