- name: Create portainer namespace
  when: k3s_control_node is defined and k3s_control_node
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: portainer

- name: Create portainer directory
  when: k3s_control_node is defined and k3s_control_node
  ansible.builtin.file:
    path: /mnt/ssd/portainer
    state: directory
    mode: "777"

- name: Create persistent volume for Portainer
  when: k3s_control_node is defined and k3s_control_node
  kubernetes.core.k8s:
    definition:
      apiVersion: v1
      kind: PersistentVolume
      metadata:
        name: portainer
        labels:
          app.kubernetes.io/name: portainer
      spec:
        storageClassName: nfs-client
        capacity:
          storage: 5Gi
        accessModes:
          - ReadWriteOnce
        nfs:
          server: "{{ inventory_hostname }}"
          path: /mnt/ssd/portainer

- name: Create Argo CD Application for Portainer
  when: k3s_control_node is defined and k3s_control_node
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: argoproj.io/v1alpha1
      kind: Application
      metadata:
        name: portainer
        namespace: argo-cd
      spec:
        project: default
        source:
          repoURL: https://portainer.github.io/k8s/
          chart: portainer
          targetRevision: '*'
          helm:
            valuesObject:
              nodeSelector:
                node-type: local
              persistence:
                enabled: true
                storageClass: nfs-client
                selector:
                  matchLabels:
                    app.kubernetes.io/name: portainer
                size: 5Gi
              ingress:
                enabled: true
                hosts:
                  - host: portainer.nkzo.ovh
                    paths:
                      - path: /
                        pathType: Prefix
              service:
                type: ClusterIP
              trusted_origins:
                enabled: true
                domains: portainer.nkzo.ovh
        destination:
          server: https://kubernetes.default.svc
          namespace: portainer
        syncPolicy:
          retry:
            limit: 2
            backoff:
              duration: 5s
              maxDuration: 3m0s
              factor: 2
          automated:
            prune: false
            selfHeal: false
          syncOptions:
            - CreateNamespace=true
