- name: Create zigbee2mqtt namespace
  when: k3s_control_node is defined and k3s_control_node
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: zigbee2mqtt

- name: Create zigbee2mqtt directory
  when: k3s_control_node is defined and k3s_control_node
  ansible.builtin.file:
    path: /mnt/ssd/zigbee2mqtt
    state: directory
    mode: "777"

- name: Create persistent volume for Zigbee2MQTT
  when: k3s_control_node is defined and k3s_control_node
  kubernetes.core.k8s:
    definition:
      apiVersion: v1
      kind: PersistentVolume
      metadata:
        name: zigbee2mqtt
        labels:
          app.kubernetes.io/name: zigbee2mqtt
      spec:
        storageClassName: nfs-client
        capacity:
          storage: 1Gi
        accessModes:
          - ReadWriteOnce
        nfs:
          server: "{{ inventory_hostname }}"
          path: /mnt/ssd/zigbee2mqtt

- name: Create Argo CD Application for Zigbee2MQTT
  when: k3s_control_node is defined and k3s_control_node
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: argoproj.io/v1alpha1
      kind: Application
      metadata:
        name: zigbee2mqtt
        namespace: argo-cd
      spec:
        project: default
        source:
          repoURL: https://charts.zigbee2mqtt.io
          chart: zigbee2mqtt
          targetRevision: '*'
          helm:
            valuesObject:
              statefulset:
                nodeSelector:
                  kubernetes.io/hostname: rpi-cm4-4
                securityContext:
                  privileged: true
                volumeMounts:
                  - mountPath: /dev/ttyUSB1
                    name: sonoff-zigbee
                volumes:
                  - hostPath:
                      path: /dev/serial/by-id/usb-Itead_Sonoff_Zigbee_3.0_USB_Dongle_Plus_V2_6c6a3cc274d9ee11b056b54c37b89984-if00-port0
                      type: CharDevice
                    name: sonoff-zigbee
                resources:
                  requests:
                    memory: "64Mi"
                    cpu: "1"
                  limits:
                    memory: "256Mi"
                    cpu: "4"
                storage:
                  enabled: true
                  storageClassName: nfs-client
                  matchLabels:
                    app.kubernetes.io/name: zigbee2mqtt
                  size: 1Gi
              zigbee2mqtt:
                availability:
                  enabled: true
                mqtt:
                  server: mqtt://mosquitto.mosquitto.svc.cluster.local:1883
                serial:
                  port: /dev/ttyUSB1
                  adapter: ember
                advanced:
                  log_level: info
              ingress:
                enabled: true
                ingressClassName: traefik
                hosts:
                  - host: zigbee2mqtt.nkzo.ovh
                    paths:
                      - path: /
                        pathType: Prefix
        destination:
          server: https://kubernetes.default.svc
          namespace: zigbee2mqtt
        syncPolicy:
          retry:
            limit: 2
            backoff:
              duration: 5s
              maxDuration: 3m0s
              factor: 2
          automated:
            prune: false
            selfHeal: false
          syncOptions:
            - CreateNamespace=false
